{% include '@bwtf/templates/layout/header.html.twig' %}
 <section class="content container">
  <main>
    
  </main>
 
 {% include '@bwtf/templates/layout/sidebar.html.twig' %}
 </section>

{% include '@bwtf/templates/layout/footer.html.twig' %}